@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Quicksand:700,400);

html, body { 
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: burlywood;
  font-size: 16px;
  font-family: 'Arvo';
}

*, *::before, *::after { box-sizing: inherit; }

h1 {
  font-family: 'Quicksand';
  padding: 0;
  margin: 0;
  color: white;
  font-size: 4em;
}

header {
  margin: 0 auto;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 780px; 
  height: 120px; 
  background-color: peru;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.35em 0;
  margin: 20px 0;
  border-radius: 50% / 10.75%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

footer::after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 4.8% / 50%;
  z-index: -1
}  

#landing {
  width: 780px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}

#play-area {
  height: 100%;
  width: 100%;
  margin-bottom: 125px;
}

.code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
	height: 8%;
  padding: 0.35em 0;
}
.round {
  display: inline-block;
  color: rgba(177,147,108,0.75);
  text-shadow: 1px 1.5px 1.5px rgba(255,255,255,0.3);
  font-size: 2.75em;
  vertical-align: middle;
  text-align: center;
  width: 8%;
  height: 100%;
  padding: 0;
}

.element {
  display: inline-block;
  vertical-align: middle;
  width: 10.47%;
  padding-bottom: 10.47%;
  background-color: rgb(199,165,121);
  box-shadow: 1.75px 1.75px 1.75px rgba(255,255,255,0.3);
  border-radius: 50%;
  /*border: 5px solid snow;*/
}

.element:hover {
  background-color: rgb(155,128,94);
}

.result {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  color: white;
  height: 100%;
  padding: 0;
  font-size: 2.25em;
}


.droid {
  display: inline-block;
  vertical-align: middle;
  width: 12.96%;
  height: 85%;
  margin: 0 5px;
  background-color: darkgray;
  border-radius: 50%;
  border: 5px solid snow;
}



/**********************************
FUN EFFECTS WITH SELECTABLE DROIDS
***********************************/

@keyframes wiggle {
  0% { transform: rotateZ(5deg); }
  50% { transform: rotateZ(-5deg); }
  100% { transform: rotateZ(5deg); }
}

.droid:hover { 
  animation: wiggle 0.25s ease infinite;

}

.droid:hover::after {
  content:" ";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
}


/*.hidden {
  display: none;
}*/


